* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html, body {
    height: 100vw;
    width: 100vw;
    background: black;
}
body {
    background-image: url(images/back01.jpg);
    background-size: cover;
    background-attachment: fixed;
}
iframe#screen {
    position: relative;
    
}